.cotainer{max-width: 1150px;margin: 0 auto; box-sizing: border-box; padding: 10px 0 70px;}
.cotainer > h2{font-size: 22px;font-weight: 700; color: #141414; cursor: pointer; margin-bottom: 20px;}
.cotainer > h2 .icon{font-size: 20px;}

.slide{width: 100%;height: 240px; cursor: pointer;}

.slide .item_img{height: 140px;position: relative; text-align: center;}
.slide .item_img img{height: 140px; object-fit: cover;}
.slide .item_img .img_bg{width: 100%;height: 100px; background: #F7B11A; position: absolute; bottom: 0;left: 0; z-index: -1; border-radius: 5px;}

.slides:nth-child(2) .item_img .img_bg{background: #C8D2FA;}
.slides:nth-child(3) .item_img .img_bg{background: #E4D4BC;}
.slides:nth-child(4) .item_img .img_bg{background: #F6D28F;}
.slides:nth-child(5) .item_img .img_bg{background: #B12E00;}
.slides:nth-child(6) .item_img .img_bg{background: #C93469;}
.slides:nth-child(7) .item_img .img_bg{background: #441B0E;}
.slides:nth-child(8) .item_img .img_bg{background: #EEE9E2;}
.slides:nth-child(9) .item_img .img_bg{background: #F4D7D6;}

.slide .item_text{margin-top: 20px; text-align: center;}
.slide .item_text p{font-size: 16px;font-weight: 500; color: #141414;}
.slide .item_text em{font-size: 14px;font-weight: 400; color: #787878;}


