.container{max-width: 1150px; margin: 0 auto; padding: 0 20px; box-sizing: border-box;}

.section1{}

.top_menu{display: flex; justify-content: space-between; align-items: center; padding: 10px 0; border-bottom: 1px solid #eee;}
.top_menu .tab{}
.top_menu .tab ul{display: flex;}
.top_menu .tab ul li{}
.top_menu .tab ul li:nth-child(1){margin-right: 25px;}
.top_menu .tab ul li em{font-size: 24px; font-weight: bold; cursor: pointer;}
.top_menu .tab ul li.active em{color: #1EAAFF;}

.category{ cursor: pointer;}
.category ul{display: flex;}
.category ul li{font-size: 16px;}
.category ul li em{margin-left: 10px; font-weight: 500;}


/* 탭1 */
.tab_article1{}

.tow_tab{margin: 10px 0;}
.tow_tab ul{ display:flex}
.tow_tab ul li{ line-height: 35px; text-align: center; padding: 3px 15px ; border-radius: 20px; transition: all 0.2s;}
.tow_tab ul li.active{background: #1EAAFF;}
.tow_tab ul li em{font-size: 16px; font-weight: 500; cursor: pointer;}
.tow_tab ul li.active em{color: #fff;}

/* 슬라이드 아래 부분 icon */
.tab_icon{ text-align: center; padding: 30px 0; box-sizing: border-box; }
.tab_icon ul{display: flex; justify-content: center;}
.tab_icon ul li{margin: 0 10px; cursor: pointer;}
.tab_icon ul li img{width: 70px;height: 70px;object-fit: cover;}

/* 키워드로 검색하기 */
.keyword_serch {box-sizing: border-box; padding: 10px 0 70px;}
.keyword_serch h2{display: inline-block; font-size: 22px;font-weight: 700; color: #141414; cursor: pointer; margin-bottom: 20px;}
.keyword_serch h2 .icon{font-size: 20px;}
.keyword_serch ul{display: flex; flex-wrap: wrap;}
.keyword_serch ul li{border: 1px solid #ccc; padding: 3px 10px; border-radius: 3px; cursor: pointer; margin-right: 5px;}
.keyword_serch ul li em{ font-size: 16px;font-weight: 400;color: #141414; }

@media (max-width: 800px){
    .tab_icon ul li img{width: 50px;height: 50px;}
}

@media (max-width: 690px){
    .keyword_serch ul li{margin-bottom: 5px;}
}

@media (max-width: 670px){
    .tab_icon ul{ width: 100%; flex-wrap: wrap; justify-content: left; padding: 0 0 0 40px; box-sizing: border-box;}
    .tab_icon ul li img{width: 70px;height: 70px;}
}
